<section class="py-20 bg-gray-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-16">
            <h2 class="mb-4 text-3xl md:text-4xl font-medium text-black"> Industries We Serve</h2>
            <p class="text-xl text-gray-600 ">
                We have extensive experience across multiple sectors
            </p>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <div class="p-6 bg-white  rounded-lg text-center hover:shadow-lg transition-shadow">
                <p class="text-gray-900 font-medium text-[16px]">Construction & Infrastructure</p>
            </div>


            <div class="p-6 bg-white  rounded-lg text-center hover:shadow-lg transition-shadow">
                <p class="text-gray-900 font-medium text-[16px]">Manufacturing </p>
            </div>


            <div class="p-6 bg-white  rounded-lg text-center hover:shadow-lg transition-shadow">
                <p class="text-gray-900 font-medium text-[16px]">Oil & Gas </p>
            </div>

            <div class="p-6 bg-white  rounded-lg text-center hover:shadow-lg transition-shadow">
                <p class="text-gray-900 font-medium text-[16px]">Renewable Energy</p>
            </div>


            <div class="p-6 bg-white  rounded-lg text-center hover:shadow-lg transition-shadow">
                <p class="text-gray-900 font-medium text-[16px]">Telecommunications </p>
            </div>

            <div class="p-6 bg-white  rounded-lg text-center hover:shadow-lg transition-shadow">
                <p class="text-gray-900 font-medium text-[16px]">Hospitality & Tourism </p>
            </div>


            <div class="p-6 bg-white  rounded-lg text-center hover:shadow-lg transition-shadow">
                <p class="text-gray-900 font-medium text-[16px]">Retail & E-commerce </p>
            </div>

            <div class="p-6 bg-white  rounded-lg text-center hover:shadow-lg transition-shadow">
                <p class="text-gray-900 font-medium text-[16px]">Healthcare </p>
            </div>

            <div class="p-6 bg-white  rounded-lg text-center hover:shadow-lg transition-shadow">
                <p class="text-gray-900 font-medium text-[16px]">Technology & IT </p>
            </div>
        </div>

    </div>
</section>