<app-company-overview  
[titleOverview]="'SERVICES' | translate"
[paragraphOverview]="'Comprehensive workforce and project management solutions tailored to your business needs' | translate"
></app-company-overview>



<app-card-service 
[types]="type"
></app-card-service>

<app-industries-services></app-industries-services>

<app-process 
[title]="'PROCESS_TITLE' | translate"
[description]="'How we deliver exceptional results for our clients ' | translate"
[background]="'bg-blue-gradient'"
[features]="feature"
></app-process> 


<app-cta-action 
[textColorTitle]="'text-white'"
[textColorParagraph]="'text-blue-50'"
[bgClass]="'bg-oklch-gradient'"
 [title]="'CTA_TITLE' | translate"
 [paragraphCTA]="'CTA_PARAGRAPH' | translate"
 [linkurlCTS]="'/contact'"
 [linkCTA]="'HERO_CONTACT' | translate"

 ></app-cta-action>

