<app-company-overview 
[titleOverview]="'TEAM' | translate"
[paragraphOverview]="'Meet the dedicated professionals who make it all possible' | translate"
></app-company-overview>

<app-expertise-team></app-expertise-team>
<app-leadership-team 
 [features]="feature"
></app-leadership-team>

<app-department-team></app-department-team>

<app-stat-cards-team></app-stat-cards-team>
<app-cta-action 
[textColorTitle]="'text-black'"
[textColorParagraph]="'text-gray-600'"
[bgClass]="'bg-white'"
 [title]="'JOIN_TEAM_TITLE' | translate"
 [paragraphCTA]="paragraph"
 [linkurlCTS]="'/career'"
 [linkCTA]="'view open position' | translate"

 ></app-cta-action>