
<div class="w-screen bg-white">
    <div id="fullWidthTabContent" class="w-screen">
        <div class="rounded-base md:p-8" id="stats" role="tabpanel" aria-labelledby="stats-tab">
            <dl class="grid grid-cols-2 md:grid-cols-4 gap-8 py-16 max-w-screen-xl mx-auto text-white">
                <div class="flex flex-col items-center">
                    <dt class="text-[48px] font-bold tracking-tightd text-main">500+</dt>
                    <dd class="text-gray-600 text-[16px]">Projects Completed</dd>
                </div>
                <div class="flex flex-col items-center">
                    <dt class="text-[48px] font-bold tracking-tightd text-main">100+</dt>
                    <dd class="text-gray-600 text-[16px]">Active Clients</dd>
                </div>
                <div class="flex flex-col items-center">
                    <dt class="text-[48px] font-bold tracking-tightd text-main">5000+</dt>
                    <dd class="text-gray-600 text-[16px]">Skilled Workers</dd>
                </div>
                <div class="flex flex-col items-center">
                    <dt class="text-[48px] font-bold tracking-tightd text-main">15+</dt>
                    <dd class="text-gray-600 text-[16px]">Years Experience</dd>
                </div>
            </dl>
        </div>
    </div>
</div>
