<div class="w-screen bg-oklch-gradient">
    <div id="fullWidthTabContent" class="w-screen">
        <div class="rounded-base md:p-8" id="stats" role="tabpanel" aria-labelledby="stats-tab">
            <dl class="grid grid-cols-2 md:grid-cols-4 gap-8 py-16 max-w-screen-xl mx-auto text-white">
                <div class="flex flex-col items-center">
                    <dt class="text-[48px] font-bold tracking-tightd text-white">170+</dt>
                    <dd class="text-blue-100 text-[16px]">Team Members</dd>
                </div>
                <div class="flex flex-col items-center">
                    <dt class="text-[48px] font-bold tracking-tightd text-white">12</dt>
                    <dd class="text-blue-100 text-[16px]">Nationalities</dd>
                </div>
                <div class="flex flex-col items-center">
                    <dt class="text-[48px] font-bold tracking-tightd text-white">25+</dt>
                    <dd class="text-blue-100 text-[16px]">Languages Spoken</dd>
                </div>
                <div class="flex flex-col items-center">
                    <dt class="text-[48px] font-bold tracking-tightd text-white">15+</dt>
                    <dd class="text-blue-100 text-[16px]">Average Years Experience</dd>
                </div>
            </dl>
        </div>
    </div>
</div>