@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --font-family: ui-sans-serif,  system-ui,sans-serif ,'Poppins';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family);
}


@layer utilities {
  .bg-oklch-gradient {
    background-image: linear-gradient(
      to right,
      oklch(0.546 0.245 262.881) 0%,
      oklch(0.715 0.143 215.221) 100%
    );
  }
  
.bg-blue-gradient {
  background-image: linear-gradient(
    to right,
    oklch(0.48 0.19 260.5) 0%,
 oklch(0.715 0.143 215.221) 100%  );
}


}
